<div class="header-container">
    <a href="/" class="logo-text">Wise Wallet</a>
    <div class="date">
        <button class="month-control-button">
            <img
                width="32"
                height="32"
                src="/assets/icons/chevron-left.svg"
                alt="Previous Month Icon"
            />
        </button>
        <div class="date-container">
            <span class="year">2023</span>
            <span class="month-number">8</span>
            <span class="month-name">August</span>
        </div>
        <button class="month-control-button">
            <img
                width="32"
                height="32"
                src="/assets/icons/chevron-right.svg"
                alt="Next Month Icon"
            />
        </button>
    </div>
    <nav>
        <ul class="nav-list">
            <li class="header-nav-item active">
                <a href="/" class="header-nav-link">
                    <img
                        width="24"
                        height="24"
                        src="/assets/icons/doc.svg"
                        alt="Document Icon"
                    />
                </a>
            </li>
            <li class="header-nav-item">
                <a href="/calendar" class="header-nav-link">
                    <img
                        width="24"
                        height="24"
                        src="/assets/icons/calendar.svg"
                        alt="Calendar Icon"
                    />
                </a>
            </li>
            <li class="header-nav-item">
                <a href="/chart" class="header-nav-link">
                    <img
                        width="24"
                        height="24"
                        src="/assets/icons/chart.svg"
                        alt="Chart Icon"
                    />
                </a>
            </li>
        </ul>
    </nav>
</div>
