
:root {
    --font-family-sans: "Pretendard", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", sans-serif;

    --font-family-serif: "ChosunNm", serif;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/PretendardVariable.woff2")
    format("woff2-variations");
  font-weight: 300 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ChosunNm";
  src: url("../../assets/fonts/ChosunNm.woff") format("woff");
  font-weight: 400;

  font-display: swap;
}
