.input-form {
  width: 89.4rem;
  height: 7.6rem;
  display: flex;
  align-items: center;

  border: 0.05rem solid var(--nuetral-border-default);
  background-color: var(--nuetral-surface-default);
  padding: 1.6rem 0;
}

.input-form__row {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0 2.4rem;
  border-right: 0.05rem solid var(--nuetral-text-default);
}

.input-form__row:last-of-type {
  border-right: none;
}

.input-form__divider {
  width: 0.05rem;
  height: 4.4rem;
  background-color: var(--nuetral-border-default);
}

.input-form__row label {
  height: 2.4rem;
}

.input-form__row input {
  width: 100%;
  height: 1.6rem;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border: none;
  outline: none;
}

.input-form__date {
  width: 13.6rem;
  position: relative;
}

.input-form__date-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.input-form__amount {
  width: 18.2rem;
}

.input-form__amount-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.input-form__amount-wrapper input {
  text-align: right;
}

.input-form__amount-wrapper span {
  line-height: 1.6rem;
}

.input-form__amount-icon {
  min-width: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.input-form__amount-icon--minus {
  background-image: url("/src/assets/icons/minus.svg");
}

.input-form__amount-icon--plus {
  background-image: url("/src/assets/icons/plus.svg");
}

.input-form__description {
  width: 20.8rem;
}

.input-form__method {
  width: 15.2rem;
}

.input-form__category {
  width: 15.2rem;
}

.input-form__description-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-form__description-count {
  color: var(--nuetral-text-weak);
}

.input-form__button {
  background-color: transparent;
  border: none;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  padding-right: 2.4rem;
}

.input-form__button img {
  width: 4rem;
  height: 4rem;
}

.history {
  width: 84.6rem;
  margin-top: 3.4rem;
}

.history__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history__header-title {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.history__header-filter {
  display: flex;
  gap: 1.2rem;
}

.history__header-filter-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.history__header-filter-item img {
  width: 1.6rem;
  height: 1.6rem;
}

.history__list {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.daily-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.daily-list__date {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.daily-list__amount {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.daily-list__content {
  margin-top: 1.6rem;
  border-top: 0.05rem solid var(--nuetral-border-default);
  border-bottom: 0.05rem solid var(--nuetral-border-default);
}

.daily-list__content-row {
  display: flex;
  align-items: center;
}

.content-row__info {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  gap: 1.6rem;
  flex: 1;
}

.content-row__description {
  width: 40rem;
}

.content-row__method {
  width: 10.4rem;
}

.content-row__amount {
  flex: 1;
  text-align: right;
}

.amount-negative {
  color: var(--brand-text-expense);
}

.amount-positive {
  color: var(--brand-text-income);
}

.content-row__delete-button {
  display: none;
  align-items: center;
  gap: 0.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--danger-surface-default);
}

.daily-list__content-row:hover .content-row__info {
  background-color: var(--nuetral-surface-point);
}

.daily-list__content-row:hover .content-row__delete-button {
  display: flex;
}

.select {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.select-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

.select-input {
  width: 100%;
  height: 1.6rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.select-icon {
  width: 1.6rem;
  min-width: 1.6rem;
  height: 1.6rem;
}

.select-list {
  display: none;
  box-sizing: content-box;
  position: absolute;
  top: 5.95rem;
  left: 0;
  width: 15.2rem;
  border: 0.05rem solid var(--nuetral-border-default);
  background-color: var(--nuetral-surface-default);
}

.select-list--open {
  display: block;
}

.select-icon img {
  width: 1.6rem;
  height: 1.6rem;
}

.select-icon--open {
  transform: rotate(180deg);
}

.select-item {
  padding: 0 2.4rem;
  cursor: pointer;
}

.select-item:hover {
  background-color: var(--nuetral-surface-point);
}

.select-item__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
  border-bottom: 0.05rem solid var(--nuetral-border-default);
}

.select-item:last-of-type .select-item__content {
  border-bottom: none;
}

.select-item__delete-button {
  width: 2.4rem;
  height: 2.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.select-item__add-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
