.input-box {
    width: 894px;
    height: 76px;
    margin: auto;
    background-color: #ffffff;
    border: 0.5px solid #000000;
    display: flex;
    align-items: center;
}

.input-box > div {
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-box input {
    border: none;
    box-sizing: border-box;
    padding: 0px;
}

.value-box {
    width: 134px;
    display: flex;
}

.value-box span {
    margin-left: 10px;
    line-height: 2;
}

.value-box button {
    all: unset;
}

.value-box button:hover {
    cursor: pointer;
}

#valueInput {
    text-align: right;
}

.input-box input:focus {
    border: none;
    outline-offset: 2px;
}

.input-box select {
    border: none;
}

input[type='text'] {
    width: 100%;
}

input[type='date'] {
    letter-spacing: -2px;
}

.input-box div:not(:last-child) {
    border-right: 0.5px solid #000000;
}

.date-wrapper {
    width: 88px;
    height: 44px;
}

.value-wrapper {
    width: 134px;
    height: 44px;
}

.description-wrapper {
    width: 160px;
    height: 44px;
}

.payment-wrapper {
    width: 104px;
    height: 44px;
}

.category-wrapper {
    width: 104px;
    height: 44px;
}

.add-button-wrapper {
    width: 40px;
    height: 44px;
    border-right: none;
}

.add-button {
    width: 40px;
    height: 40px;
    border: none;
    margin: auto;
    border-radius: 100%;
    background-color: var(--neutral-text-default);
}

.add-button img {
    filter: invert(1);
}

.count-box-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-button:disabled {
    opacity: 32%;
}
.add-button:enabled {
    opacity: 100%;
}

.add-button:enabled:hover {
    opacity: 80%;
    cursor: pointer;
}

.dropdown-main {
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dropdown-category {
    position: relative;
}

.dropdown-category button {
    all: unset;
}

.select-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-list-category {
    position: absolute;
    top: 60px;
    left: -25px;
    width: 145px;
    border: 1px solid var(--grayscale-400);
    background-color: var(--grayscale-50);
    z-index: 10;
}

.dropdown-list-category li {
    position: relative;
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding-inline: 25px;
    align-items: center;
    background-color: inherit;
}

.dropdown-list-category li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    height: 1px;
    background-color: #ccc;
}

.dropdown-list-category li:last-of-type::after {
    content: none;
}

.dropdown-list-category img {
    cursor: pointer;
}

.select-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 1;
    cursor: default;
}

.dropdown-payment {
    position: relative;
}

.dropdown-payment button {
    all: unset;
}

.select-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-list-payment {
    position: absolute;
    top: 60px;
    left: -25px;
    width: 145px;
    border: 1px solid var(--grayscale-400);
    background-color: var(--grayscale-50);
    z-index: 10;
}

.dropdown-list-payment li {
    position: relative;
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding-inline: 25px;
    align-items: center;
    background-color: inherit;
}

.dropdown-list-payment li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    height: 1px;
    background-color: #ccc;
}

.dropdown-list-payment li:last-of-type::after {
    content: none;
}

.dropdown-list-payment img {
    cursor: pointer;
}

#payment-add-button {
    width: 100%;
    height: 100%;
}

.modal-content {
    width: 384px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--grayscale-400);
}

.modal-btn-wrapper button:first-child {
    border-right: 1px solid var(--grayscale-400);
}

.modal-content-wrapper {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal-btn-wrapper {
    width: 100%;
    display: flex;
}

.modal-btn-wrapper button {
    all: unset;
    width: 50%;
    height: 56px;
    text-align: center;
    border-top: 1px solid var(--grayscale-400);
}

.modal-btn-wrapper button:hover {
    cursor: pointer;
}

#payment-modal-add-button {
    font-weight: 700;
}

.delete-modal-value {
    width: 280px;
    height: 40px;
    background-color: var(--neutral-surface-weak);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 20px;
}
