@import '../../styles/animations.css';

.input-bar-container {
    z-index: 1;
    animation: fadeIn 0.5s 0.2s forwards;
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 894px;

    padding: 16px 0;
    margin-bottom: 34px;
    background-color: var(--neutral-surface-default);
    border: 0.5px solid var(--neutral-border-default);
}

.input-bar-item {
    position: relative;

    display: flex;
    flex-direction: column;
    padding: 0 24px;
    border-right: 0.5px solid var(--neutral-border-default);
    gap: 4px;
}

.input-bar-item:nth-last-child(1),
.input-bar-item:nth-last-child(2) {
    border-right: none;
}

.amount-button {
    cursor: pointer;
}

.amount-input {
    text-align: right;
}

.add-payment-method-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 24px;
    cursor: pointer;
    width: 100%;
}

.add-payment-method-button:hover {
    background-color: var(--neutral-surface-point);
}

.chevron-icon {
    transition: transform 0.3s ease-in-out;
}

.input-bar-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    min-width: 104px;
}

.select-label {
    color: var(--neutral-text-weak);
}

.description-length {
    display: flex;
    flex-direction: row;
    color: var(--neutral-text-weak);
}

.submit-button {
    padding: 8px;
    margin-right: 24px;
    background-color: var(--neutral-text-default);
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.submit-icon {
    filter: invert(1);
}

.select-container {
    cursor: pointer;
}
