.header {
    background-color: #ababab;
    border-bottom: 1px solid #000000;
    padding: 40px 20% 64px 20%;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.inline-block {
    display: inline-block;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.icon-button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 24px;
    height: 24px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon {
    /* background-color: transparent; */
    cursor: pointer;
    border: none;
}

.date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 112px;
    margin: 0 24px;
}

.month-text {
    font-size: 48px;
}
