@font-face {
    font-family: 'Ownglyph_corncorn-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Ownglyph_corncorn-Rg', sans-serif;
}

.header {
    background-color: #a3b2e4;
    border-bottom: 1px solid #000000;
    padding: 40px 273px 64px 273px
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.inline-block {
    display: inline-block;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.icon-button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 24px;
    height: 24px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.arrow-icon {
    /* background-color: transparent; */
    cursor: pointer;
    border: none;
}

.date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 112px;
    margin: 0 24px;
}

.month-text {
    font-size: 48px;
}

/* DailyListBlock */
.daily-list-block {
    align-items: center;
    width: 100%;
    height: 56px;
    background-color: #ffffff;

}

.daily-list-block:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}

.daily-list-block.selected {
    background-color: #F1F4F8;
}

.daily-list-block__content-row {
    display: flex;
    align-items: center;
}

.content-row__info {
    display: flex;
    justify-content: space-between;
    padding-left: 1.6rem;
    gap: 1.6rem;
    flex: 1;
}

.content-row__description {
    width: 40rem;
}

.content-row__method {
    width: 10.4rem;
}

.content-row__amount {
    flex: 1;
    text-align: right;
}

/* TagBox */
.tag-box {
    display: flex;
    background-color: aquamarine;
    height: 56px;
    width: 92px;
    align-items: center;
    justify-content: center;
}

.tag {
    font-size: 12px;
}

.mr-1 {
    margin-right: 4px;
}

.mr-2 {
    margin-right: 8px;
}

span {
    font-family: 'Ownglyph_corncorn-Rg', sans-serif;
}

/* DropDown */
.selectedDropDown {
    width: 104px;
}

.dropdown-block-container {
    background-color: rgb(157, 218, 198);
    width: 152px;
    position: absolute;
    z-index: 3;
}

ul {
    padding: 0;
    transform: translate(-25px, 12px);
}

.category-field li {
    list-style-type: none;
    height: 56px;
    padding: 0 24px;
    font-size: 12px;
}

.category-field:hover {
    cursor: pointer;
}

.option-list {
    border-bottom: 1px solid #000000;
}

.option-list:hover {
    background: rgb(72, 106, 180);
    cursor: pointer;
}

.selected-value{
    font-size: 12px;
    color: black;
}
.selected-value-placeholder {
    color: #777D84;
    
}