body {
    margin: 0;
}

.header {
    background-color: #ababab;
    border-bottom: 1px solid #000000;
    padding: 40px 273px 64px 273px
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.inline-block {
    display: inline-block;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.icon-button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 24px;
    height: 24px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon {
    /* background-color: transparent; */
    cursor: pointer;
    border: none;
}

.date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 112px;
    margin: 0 24px;
}

.month-text {
    font-size: 48px;
}

/* DailyListBlock */
.daily-list-block {
    align-items: center;
    width: 100%;
    height: 56px;
    background-color: #ffffff;

}

.daily-list-block:hover {
    background-color: #F1F4F8;
    cursor: pointer;
}

.daily-list-block-content {
    width: 400px;
    text-align: start;
}

.daily-list-block-payment {
    width: 104px;
    text-align: start;
}

.daily-list-block-price {
    width: 92px;
    text-align: end;
}

/* TagBox */
.tag-box {
    display: flex;
    background-color: aquamarine;
    height: 56px;
    width: 92px;
    align-items: center;
    justify-content: center;
}

.tag {
    font-size: 12px;
}