.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 20px 10px;
}

.month-nav {
    display: flex;
    align-items: center;
}

.month-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 12px;
}

.month-display p {
    margin: 0;
}

.view-toggle {
    display: flex;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
}