/* 메인 컨테이너 */
.main-container {
  position: relative;
}

/* 헤더 스타일 */
.header-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--colorchip-80);
  width: 100%;
  z-index: 1;
}

.body-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  background-color: transparent;
  position: relative;
  bottom: 40px;
  z-index: 2;
}
