@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Color System */
:root {
  /* Grayscale */
  --grayscale-50: #ffffff;
  --grayscale-100: #fbfcfd;
  --grayscale-200: #f1f4f8;
  --grayscale-300: #777d84;
  --grayscale-400: #000000;

  /* Pastel Colors */
  --pastel-almondFrost: #a28878;
  --pastel-porsche: #e39d5d;
  --pastel-chenin: #d7ca6b;
  --pastel-caper: #aacd7e;
  --pastel-cruise: #bcdfd3;
  --pastel-onahau: #c5e0eb;
  --pastel-glacier: #7db7bf;
  --pastel-seagull: #79b2ca;
  --pastel-jordyBlue: #73a4d0;
  --pastel-perano: #a7b9e9;
  --pastel-perfume: #bda6e1;
  --pastel-lavenderPink: #f0b0d3;
  --pastel-amaranth: #e93b5a;
  --pastel-chestnut: #c04646;

  /* Tokens - nuetral */
  --nuetral-surface-weak: var(--grayscale-100);
  --nuetral-surface-default: var(--grayscale-50);
  --nuetral-surface-point: var(--grayscale-200);
  --nuetral-text-weak: var(--grayscale-300);
  --nuetral-text-default: var(--grayscale-400);
  --nuetral-text-rev-default: var(--grayscale-50);
  --nuetral-border-default: var(--grayscale-400);

  /* Tokens - Brand */
  --brand-surface-default: var(--grayscale-50);
  --brand-text-income: var(--pastel-seagull);
  --brand-text-expense: var(--pastel-chestnut);

  /* Tokens - Danger */
  --danger-surface-default: var(--pastel-amaranth);
  --danger-text-default: var(--pastel-amaranth);
  --danger-text-rev-default: var(--grayscale-50);
  --danger-border-default: var(--pastel-amaranth);

  /* Tokens - Color Chips */
  --colorchip-10: var(--pastel-almondFrost);
  --colorchip-20: var(--pastel-porsche);
  --colorchip-30: var(--pastel-chenin);
  --colorchip-40: var(--pastel-caper);
  --colorchip-50: var(--pastel-cruise);
  --colorchip-60: var(--pastel-onahau);
  --colorchip-70: var(--pastel-glacier);
  --colorchip-80: var(--pastel-jordyBlue);
  --colorchip-90: var(--pastel-perano);
  --colorchip-100: var(--pastel-perfume);
  --colorchip-110: var(--pastel-lavenderPink);
  --colorchip-120: var(--pastel-chestnut);
}

/* Font System */

/* Serif (조선일보명조) */
.serif-48 {
  font-family: "Chosunilbo_myungjo", serif;
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
}

.serif-24 {
  font-family: "Chosunilbo_myungjo", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.serif-14 {
  font-family: "Chosunilbo_myungjo", serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

/* Semi Bold (Pretendard) */
.semibold-16 {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.semibold-14 {
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.semibold-12 {
  font-family: "Pretendard", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

/* Light (Pretendard) */
.light-16 {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}

.light-14 {
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.light-12 {
  font-family: "Pretendard", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
}

/* 사용 예시 */
.title-large {
  font-family: "Chosunilbo", serif;
  font-size: 48px;
  line-height: 56px;
  font-weight: normal;
}

.title-medium {
  font-family: "Chosunilbo", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
}

.body-text {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

body {
  margin: 0;
}

/* 헤더 스타일 */
header {
  margin: 40px auto;
  width: 846px;
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--colorchip-80);
  height: 216px;
  width: 100%;
  z-index: -1;
  border-bottom: 1px solid var(--nuetral-border-default);
}

/* 정렬 방식 */
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap-8 {
  gap: 8px;
}

.input-bar {
  width: 894px;
  height: 112px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nuetral-surface-default);
  border: 1px solid var(--nuetral-border-default);
}

.container {
  width: 846px;
  margin: 0 auto;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

/* 네비게이션 스타일 */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 4px;
}

nav li {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo > a {
  color: var(--nuetral-text-default);
}

nav a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 22px;
  transition: all 0.3s ease;
}

nav a:hover {
  background: var(--nuetral-surface-default);
}

nav a.active {
  background: var(--nuetral-surface-default);
}

.month-year {
  width: 232px;
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-container {
  width: 100%;
  margin-bottom: 40px;
}

.amount-toggle {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
}

.input-bar .flex-column {
  align-items: flex-start;
}

.input-label {
  text-align: left;
}

.input-section {
  width: 100%;
  padding: 0 20px;
  border-right: 1px solid var(--nuetral-border-default);
}

.w-full {
  width: 100%;
}

.px-20 {
  padding: 0 20px;
}

select {
  width: 100%;
  padding: 0;
}

select:invalid {
  color: var(--nuetral-text-weak);
}

.add-button {
  margin: 0 20px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--nuetral-text-default);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.add-button:hover {
  background: var(--nuetral-text-default);
}

.add-button:active {
  background: var(--nuetral-text-default);
}

.add-button img {
  filter: brightness(0) invert(1);
  width: 25px;
  height: 25px;
}

input[type="date"] {
  /* 달력 이모지 숨김 */
  appearance: none;
  /* border 제거 */
  border: none;
  outline: none;
  /* 클릭 가능하도록 설정 */
  cursor: pointer;
}

.text-input {
  /* border 제거 */
  border: none;
  outline: none;
}

/* 버튼 기본 스타일 초기화 */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

button:focus {
  outline: none;
}

button:hover {
  outline: none;
  opacity: 0.8;
}

button:active {
  opacity: 0.64;
}

button:disabled {
  opacity: 0.32;
  cursor: not-allowed;
}

/* 버튼 내부 이미지 스타일 */
button img {
  pointer-events: none;
  user-select: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  margin: 0 0 0 20px;
}
.custom-checkbox input[type="checkbox"] {
  display: none;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid var(--nuetral-border-default);
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-icon img {
  width: 20px;
  height: 20px;
  display: block;
}

.transaction-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.transaction-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

.tbody-border {
  border-top: 1px solid var(--nuetral-border-default);
  border-bottom: 1px solid var(--nuetral-border-default);
}

.category-life {
  background: var(--colorchip-90);
}
.category-shopping {
  background: var(--colorchip-30);
}
.category-health {
  background: var(--colorchip-50);
}
.category-food {
  background: var(--colorchip-60);
}
.category-transportation {
  background: var(--colorchip-70);
}
.category-entertainment {
  background: var(--pastel-perfume);
}
.category-etc {
  background: var(--pastel-lavenderPink);
}

.category-salary {
  background: var(--colorchip-20);
}
.category-etc-income {
  background: var(--colorchip-10);
}

.td-category {
  width: 92px;
  height: 58px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.text-expense {
  color: var(--brand-text-expense);
}

.text-income {
  color: var(--brand-text-income);
}

.td-description {
  width: 400px;
  height: 56px;
  padding: 0 16px;
  text-align: left;
  vertical-align: middle;
}

.td-payment-method {
  width: 104px;
  height: 56px;
  padding: 0 16px;
  text-align: left;
  vertical-align: middle;
}

.td-amount {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 186px;
  height: 58px;
  padding: 0 16px;
  text-align: left;
  vertical-align: middle;
}

.delete-btn {
  display: none;
  color: var(--danger-text-default);
}

.danger-btn {
  color: var(--danger-text-default);
}

.delete-btn-icon {
  margin: 0 6px;
  color: var(--nuetral-surface-default);
  background-color: var(--danger-surface-default);
  border-radius: 100%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn-icon img {
  filter: brightness(0) invert(1);
  width: 12px;
  height: 12px;
}

.transaction-row:hover .delete-btn {
  display: flex;
}

.transaction-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.transaction-row:hover {
  background-color: var(--nuetral-surface-point);
}

.transaction-row.selected {
  background-color: var(--nuetral-surface-point);
}

.transaction-row.selected .delete-btn {
  display: flex;
}

.chart-page {
  gap: 20px;
}

#donut-chart-container {
  border: 1px solid var(--nuetral-border-default);
  background: var(--nuetral-surface-default);
  width: 100%;
  height: 572px;
  padding: 20px;
}

.calendar-container {
  border-top: 1px solid var(--nuetral-border-default);
  border-left: 1px solid var(--nuetral-border-default);
  width: 100%;
  background: var(--nuetral-surface-default);
  overflow: hidden;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  height: 48px;
}

.calendar-header > div {
  border-right: 1px solid var(--nuetral-border-default);
  border-bottom: 1px solid var(--nuetral-border-default);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: right;
  min-height: 120px;
  background: var(--nuetral-surface-default);
}

.calendar-cell {
  cursor: pointer;
  transition: background 0.2s;
  border-right: 1px solid var(--nuetral-border-default);
  border-bottom: 1px solid var(--nuetral-border-default);
  display: flex;
  flex-direction: column;
}

dialog {
  padding: 0;
  border: none;
  outline: none;
}

.modal {
  width: 384px;
  height: 200px;
  background: var(--nuetral-surface-default);
  border: 1px solid var(--nuetral-border-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-btn {
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--nuetral-border-default);
  outline: none;
  cursor: pointer;
}

.modal-btn:hover {
  background: var(--nuetral-surface-point);
}

.modal-btn-container {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-btn:first-child {
  border-right: 1px solid var(--nuetral-border-default);
}

.modal-content {
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.modal-content > div {
  width: 320px;
  height: 40px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.modal-content > input {
  width: 320px;
  height: 40px;
  background: var(--nuetral-surface-point);
  border-radius: 8px;
  border: none;
  outline: none;
  display: flex;
  justify-content: left;
  align-items: left;
}

.modal-content > input::placeholder {
  padding: 0 16px;
}
