.stats-page{
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.donut-chart-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 22px 32px;
    gap:32px;
    width: 100%;
    height: 517px;
    background-color: var(--neutral-surface-default);
    border: 1px solid var(--neutral-border-default);
}
.donut-chart-container > .category-list {
    width: 328px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.donut-chart-container > .chart{
    flex-grow: 1;
}
.donut-chart{
    display: block;
    width: 300px;
    height: 300px;
}
.donut-legend{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 328px;
    padding: 24px;
    height: 100%;
}
.dot-chart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 450px;
    background-color: var(--neutral-surface-default);
    border: 1px solid var(--neutral-border-default);
    padding: 32px 40px;
    box-sizing: border-box;
    gap: 24px;
}
.dot-chart-container > .dot-chart{
    width: 100%;
    height: 100%;
}
