#main{
    width: 846px;
    margin: 0 auto;
}

:root {
    /* Grayscale */
    --grayscale-50: #ffffff;
    --grayscale-100: #fbfcfd;
    --grayscale-200: #f1f4f8;
    --grayscale-300: #777d84;
    --grayscale-400: #000000;

    /* Pastel Colors */
    --pastel-almondFrost: #a28878;
    --pastel-porsche: #e39d5d;
    --pastel-chenin: #d7ca6b;
    --pastel-caper: #aacd7e;
    --pastel-cruise: #bcdfd3;
    --pastel-onahau: #c5e0eb;
    --pastel-glacier: #7db7bf;
    --pastel-seagull: #79b2ca;
    --pastel-jordyBlue: #73a4d0;
    --pastel-perano: #a7b9e9;
    --pastel-perfume: #bda6e1;
    --pastel-lavenderPink: #f0b0d3;
    --pastel-amaranth: #e93b5a;
    --pastel-chestnut: #c04646;

    /* Neutral */
    --neutral-surface-weak: var(--grayscale-100);
    --neutral-surface-default: var(--grayscale-50);
    --neutral-surface-point: var(--grayscale-200);
    --neutral-text-weak: var(--grayscale-300);
    --neutral-text-default: var(--grayscale-400);
    --neutral-text-rev-default: var(--grayscale-50);
    --neutral-border-default: var(--grayscale-400);

    /* Brand */
    --brand-surface-default: var(--grayscale-50);
    --brand-text-income: var(--pastel-seagull);
    --brand-text-expense: var(--pastel-chestnut);

    /* Danger */
    --danger-surface-default: var(--pastel-amaranth);
    --danger-text-default: var(--pastel-amaranth);
    --danger-text-rev-default: var(--grayscale-50);
    --danger-border-default: var(--pastel-amaranth);

    /* Colorchip */
    --colorchip-10: var(--pastel-almondFrost);
    --colorchip-20: var(--pastel-porsche);
    --colorchip-30: var(--pastel-chenin);
    --colorchip-40: var(--pastel-caper);
    --colorchip-50: var(--pastel-cruise);
    --colorchip-60: var(--pastel-onahau);
    --colorchip-70: var(--pastel-glacier);
    --colorchip-80: var(--pastel-jordyBlue);
    --colorchip-90: var(--pastel-perano);
    --colorchip-100: var(--pastel-perfume);
    --colorchip-110: var(--pastel-lavenderPink);
    --colorchip-120: var(--pastel-chestnut);
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.flex {
    display: flex;
}
.grow {
    flex-grow: 1;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.justify-between {
    justify-content: space-between;
}
.gap-4 {
    gap: 4px;
}
.gap-8 {
    gap: 8px;
}
.gap-16 {
    gap: 16px;
}
.gap-24 {
    gap: 24px;
}

.header {
    min-width: 1440px;
    width: 100%;
    height: 216px;
    background-color: var(--colorchip-80);
}
.header > .nav-inner {
    width: 846px;
    height: 112px;
    padding: 40px 0px 64px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.nav-btn.active {
    background-color: #ffffff;
}
.nav-btn img {
    width: 24px;
    height: 24px;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 232px;
    height: 100%;
}
.header-date {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.form{
    display: flex;
    padding: 18px 24px;
    background-color: #ffffff;
    border: 1px solid var(--neutral-border-default);
    position: relative;
    top: -40px;
    width: 894px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}
.form > .form-components{
    border-left: 1px solid var(--neutral-border-default);
    padding: 0px 23.78px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.form > .form-components:first-child {
    border-left: none;
    padding-left: 0px;
}
.form-cost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 134px;
}
input[type="date"].form-date {
    position: relative;
    cursor: pointer;
    border: none;
}
input[type="date"].form-date::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
input[type="text"].form-cost-input {
    border: none;
    font-size: 14px;
    line-height: 16px;
    width: 88px;
    outline: none;
    text-align: right;
    margin-right: 8px;
}
.form-cost-sign{
    width: 16px;
    height: 16px;
    cursor: pointer;

}
.form-cost-sign img {
    width: 16px;
    height: 16px;
}
.form-description{
    width: 160px;
}
.form-description-length{
    color: var(--neutral-text-weak)
}
.form-description-input{
    border: none;
    outline: none;
    resize: none;
    width: 100%;
}

.drop-down-wrapper{
    display: none;
}
.drop-down-wrapper.open {
    display: block;
    position: absolute;
    left: 0;
    right:0;
    top: 62px;
    background-color: #ffffff;
    border: 1px solid var(--neutral-border-default);
    z-index: 10;
}
.drop-down-container{
    position: relative;
}
.drop-down-wrapper .drop-down-element{
    padding: 16px 0px;
    margin: 0px 24px;
    border-top: 1px solid var(--neutral-border-default);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.drop-down-wrapper .drop-down-element:first-child {
    border-top: none;
}
.form-payment-method{
    width: 104px;
}
.form-payment-method-text{
    border: none;
    outline: none;
    resize: none;
    width: 80%;
    cursor: pointer;
}
.form-payment-method-text::placeholder {
    color: var(--neutral-text-weak);
}
.form-payment-method-icon{
    width: 16px;
    height: 16px;
    color: var(--danger-text-default);
    cursor: pointer;
}

.form-category-method-text::placeholder {
    color: var(--neutral-text-weak);
}
.form-category-icon{
    width: 16px;
    height: 16px;
    
    cursor: pointer;
}
.delete-button{
    height: 24px;
    
}
.delete-button img{
    color: var(--danger-text-default)
}
.form-category-text{
    border: none;
    outline: none;
    resize: none;
    width: 80%;
    cursor: pointer;

}
button.form-category{
    width: 104px;
}