.day-container {
    margin-top: 40px;
}
.daily-line {
    display: flex;
    width: 846px;
    height: 56px;
    text-align: center;
    align-items: center;
}

.daliy-line-wrapper {
    border-top: 1px solid var(--grayscale-400);
    border-bottom: 1px solid var(--grayscale-400);
}

.category-info {
    width: 92px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.description-info {
    width: 400px;
    text-align: left;
    margin-right: 15px;
}

.payment-info {
    width: 104px;
    text-align: left;
    margin-inline: 15px;
}

.amount-info {
    flex: 1;
    text-align: right;
}

.date-info {
    margin-bottom: 10px;
}

.daily-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.total-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 846px;
}

.amount-wrapper {
    display: flex;
}

.check-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14px;
    width: 14px;
    border: none;
    border-radius: 100%;
    margin-inline: 5px;
}

.amount-btn-active {
    background-color: var(--neutral-text-default);
}

.check-wrapper img {
    filter: invert(1);
}

.amount-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-red {
    color: var(--brand-text-expense);
}

.text-blue {
    color: var(--brand-text-income);
}

.amount-line {
    margin-left: 10px;
}

.daily-line:hover {
    background-color: var(--neutral-surface-point);
}

.daily-delete-btn {
    all: unset;
    width: 50px;
    display: none;
    height: 100%;
}

.daily-delete-btn:hover {
    cursor: pointer;
}

.daily-line:hover .daily-delete-btn {
    display: block;
}

.selected {
    background-color: var(--neutral-surface-point);
}
