:root {
  --grayscale-50: #ffffff;
  --grayscale-100: #fbfcfd;
  --grayscale-200: #f1f4f8;
  --grayscale-300: #777d84;
  --grayscale-400: #000000;
  --pastel-almondFrost: #a28878;
  --pastel-porsche: #e39d5d;
  --pastel-chenin: #d7ca6b;
  --pastel-caper: #aacd7e;
  --pastel-cruise: #bcdfd3;
  --pastel-onahau: #c5e0eb;
  --pastel-glacier: #7db7bf;
  --pastel-seagull: #79b2ca;
  --pastel-jordyBlue: #73a4d0;
  --pastel-perano: #a7b9e9;
  --pastel-perfume: #bda6e1;
  --pastel-lavenderPink: #f0b0d3;
  --pastel-amaranth: #e93b5a;
  --pastel-chestnut: #c04646;
}

#app {
  /* padding: 0 297px; */
}

/** header **/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pastel-jordyBlue);
  height: 216px;
}

.logo {
  font-size: 24px;
}

.date {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.date .currentDate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date .month_num {
  font-size: 48px;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav li img {
  width: 40px;
  height: 40px;
}
