:root {
  /**
   * Color Tokens
   * - Grayscale: Neutral colors for backgrounds, text, and borders.
   * - Pastel: Soft colors for branding and UI elements.
   * - Custom Tokens: Specific color combinations for various UI states.
   */
  /* Grayscale */
  --grayscale-50: #ffffff;
  --grayscale-100: #fbfcfd;
  --grayscale-200: #f1f4f8;
  --grayscale-300: #777d84;
  --grayscale-400: #000000;

  /* Pastel */
  --pastel-almondFrost: #a28878;
  --pastel-porsche: #e39d5d;
  --pastel-chenin: #d7ca6b;
  --pastel-caper: #aacd7e;
  --pastel-cruise: #bcdfd3;
  --pastel-onahau: #c5e0eb;
  --pastel-glacier: #7db7bf;
  --pastel-seagull: #79b2ca;
  --pastel-jordyBlue: #73a4d0;
  --pastel-perano: #a7b9e9;
  --pastel-perfume: #bda6e1;
  --pastel-lavenderPink: #f0b0d3;
  --pastel-amaranth: #e93b5a;
  --pastel-chestnut: #c04646;

  /* Custom Tokens */
  --nuetral-surface-weak: var(--grayscale-100);
  --nuetral-surface-default: var(--grayscale-50);
  --nuetral-surface-point: var(--grayscale-200);
  --nuetral-text-weak: var(--grayscale-300);
  --nuetral-text-default: var(--grayscale-400);
  --nuetral-text-rev-default: var(--grayscale-50);
  --nuetral-border-default: var(--grayscale-400);

  --brand-surface-default: var(--grayscale-50);
  --brand-text-income: var(--pastel-seagull);
  --brand-text-expense: var(--pastel-chestnut);

  --danger-surface-default: var(--pastel-amaranth);
  --danger-text-default: var(--pastel-amaranth);
  --danger-text-rev-default: var(--grayscale-50);
  --danger-border-default: var(--pastel-amaranth);

  --colorchip-10: var(--pastel-almondFrost);
  --colorchip-20: var(--pastel-porsche);
  --colorchip-30: var(--pastel-chenin);
  --colorchip-40: var(--pastel-caper);
  --colorchip-50: var(--pastel-cruise);
  --colorchip-60: var(--pastel-onahau);
  --colorchip-70: var(--pastel-glacier);
  --colorchip-80: var(--pastel-jordyBlue);
  --colorchip-90: var(--pastel-perano);
  --colorchip-100: var(--pastel-perfume);
  --colorchip-110: var(--pastel-lavenderPink);
  --colorchip-120: var(--pastel-chestnut);
}

/* Font Faces */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

/* Serif (Chosunilbo_myungjo) */
.serif-48 {
  font-family: "Chosunilbo_myungjo", serif;
  font-size: 48px;
  line-height: 56px;
}

.serif-24 {
  font-family: "Chosunilbo_myungjo", serif;
  font-size: 24px;
  line-height: 32px;
}

.serif-14 {
  font-family: "Chosunilbo_myungjo", serif;
  font-size: 14px;
  line-height: 16px;
}

/* Semibold (Pretendard, weight 600) */
.semibold-16 {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.semibold-14 {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.semibold-12 {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

/* Light (Pretendard, weight 300) */
.light-16 {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}

.light-14 {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.light-12 {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
}
