#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pastel-jordyBlue);
  height: 216px;
  padding: 0 297px; /* 전체 레이아웃에 padding을 주고 싶은 경우엔 어떻게 사용하는가? */
}

.logo {
  font-size: 24px;
}

.date {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.date .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date .arrow img {
  width: 32px;
  height: 32px;
}

.date .currentDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 112px;
}

.date .month_num {
  font-size: 48px;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav .nav-item {
  padding: 8px;
  border-radius: 40px;
}

.nav .nav-item img {
  width: 24px;
  height: 24px;
}

.nav .active {
  background-color: var(--grayscale-100);
}
