#main {
  position: relative;
}

.entire-form {
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--nuetral-surface-default);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 894px;
  height: 76px;
  border-style: solid;
  border-width: 0.5px;
  border-color: var(--nuetral-border-default);
}
