#main {
  position: relative;
}

/** form **/
.entire-form {
  position: relative;
  top: -38px;
  background-color: var(--nuetral-surface-default);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 894px;
  height: 76px;
  padding: 16px 24px;
  margin: 0 auto;
  border-style: solid;
  border-width: 0.5px;
  border-color: var(--nuetral-border-default);
}

.entire-form > div {
  position: relative;
  display: flex;
  flex-direction: column;
}

.entire-form > div:not(:nth-last-child(1)):not(:nth-last-child(2))::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -24px;
  width: 24px;
  border-right: 0.5px solid var(--nuetral-border-default);
  background-color: transparent;
}

.entire-form > div:last-child {
  border: none;
}

.form-date {
  width: 88px;
}

input#date {
  position: relative;
  width: 100%;
}

input#date::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.form-money {
  width: 134px;
}

.form-money > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.form-money > div > img {
  width: 16px;
  height: 16px;
}

input#money {
  width: 100%;
  text-align: right;
}

.form-content {
  position: relative;
  width: 160px;
}

.form-content > div {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--nuetral-text-weak);
}

.form-payment,
.form-category {
  width: 104px;
  height: 100%;
  position: relative;
}

button#category,
button#payment {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

.drop-down {
  position: absolute;
  top: calc(100% + 16px);
  left: -23.78px;
  width: calc(100% + 23.78 * 2px);
  border-style: solid;
  border-width: 0.5px;
  border-color: var(--nuetral-border-default);
}

.drop-down > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.drop-down > li:not(:last-child) {
  border-bottom: 0.5px solid var(--nuetral-border-default);
}

.drop-down > li > img {
  width: 24px;
  height: 24px;
}

.form-checker {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-checker::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--nuetral-text-default);
  opacity: 0.32;
}

.form-checker.active::before {
  opacity: 1;
}

.form-checker > img {
  position: relative;
  opacity: 1;
  width: 24px;
  height: 24px;
}

/** list **/
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 846px;
  margin: 0 auto;
}

.list-overview {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-overview > .list-counter {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.list-overview > .list-type-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.list-overview > .list-type-container img {
  width: 16px;
  height: 16px;
}

.list-day {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.day-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.day-overview .date {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.day-overview .money-counter {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  height: 56px;
  padding: 16px 16px 16px 0;
}

.list-item:nth-child(1) {
  border-top: 0.5px solid var(--nuetral-border-default);
}

.list-item:last-child {
  border-bottom: 0.5px solid var(--nuetral-border-default);
}

.list-item .category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  min-width: 92px;
  padding: 16px 23px;
  background-color: var(--colorchip-10);
}

.list-item .content {
  width: 400px;
}

.list-item .payment {
  width: 104px;
}

.list-item .money {
  flex-grow: 1;
  text-align: right;
}
