<header class="page-header">
  <div class="header-container">
    <a href="#main" class="logo">Wise Wallet</a>
    <div class="date-selector">
      <button class="prev-month">
        <img src="../assets/icons/chevron-left.svg" alt="Previous Month" />
      </button>
      <div class="date-display">
        <div class="year">2025</div>
        <div class="month">7</div>
        <div class="month-en">July</div>
      </div>
      <button class="next-month">
        <img src="../assets/icons/chevron-right.svg" alt="Next Month" />
      </button>
    </div>
    <div class="nav-container">
      <a href="#main">
        <img src="../assets/icons/doc.svg" alt="document" class="nav-icon" />
      </a>
      <a href="#calander">
        <img src="../assets/icons/calendar.svg" alt="calendar" class="nav-icon" />
      </a>
      <a href="#stats">
        <img src="../assets/icons/chart.svg" alt="statistics" class="nav-icon" />
      </a>
    </div>
  </div>
</header>
