.main-page {
    margin: 0 273px 100px 273px;
}

.input-bar {
    background-color: #ffffff;
    border: 0.5px solid #000000;
    z-index: 1;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    padding: 16px 24px;
}

.input-bar label {
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 4px;
    height: 24px;
}

.input-bar input {
    /* border: none; */
    outline: none;
    font-weight: 600;
    font-size: 12px;
}

.input-count-text {
    font-weight: 300;
    font-size: 12px;
    color: #777D84;
}

.input-bar select {
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 12px;
}

.border-line {
    background-color: #000000;
    width: 0.5px;
    height: 100%;
}

.sign-button {
    width: 16px;
    height: 16px;
}

.main-page-body {
    padding: 0 24px;
    background-color: #FFC0CB;
}

/* Daily List Styles */
.daily-list {
    margin-top: 40px;
    border: 2px solid #4c88ef;
}

.daily-list-content {
    margin-top: 16px;
}

.daily-list-content {
    border-top: 0.5px solid #000000;
    border-bottom: 0.5px solid #000000;
}

.daily-list-block {
    display: flex;
    align-items: center;
    /* 필요에 따라 조정 가능 */
}