.modal {
  width: 38.4rem;
  top: calc(50% - 10rem);
  left: calc(50% - 19.2rem);
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__container {
  width: 100%;
  height: 100%;
  padding: 1px;
  background-color: var(--nuetral-border-default);
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.modal__main {
  width: 100%;
  min-height: 14.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.8rem;
  padding: 3.2rem;
  background-color: var(--nuetral-surface-default);
}

.modal__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.8rem;
}

.modal__buttons {
  height: 5.6rem;
  display: flex;
  gap: 1px;
}

.modal__button {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal__button--cancel {
  color: var(--nuetral-text-weak);
}

.modal__button--confirm {
  color: var(--nuetral-text-default);
}

.modal__button--add {
  color: var(--nuetral-text-default);
}

.modal__button--delete {
  color: var(--danger-text-default);
}
