:root {
  /* ========== Color Primitives ========== */
  --grayscale-50: #ffffff;
  --grayscale-100: #f8fcfd;
  --grayscale-200: #f1f4f8;
  --grayscale-300: #777D84;
  --grayscale-400: #000000;

  --pastel-almondFrost: #A28B78;
  --pastel-porsche: #E39D5D;
  --pastel-chenin: #D7CA6B;
  --pastel-caper: #AACD7E;
  --pastel-cruise: #BCDFD3;
  --pastel-onahau: #C5E0EB;
  --pastel-glacier: #D7D8FB;
  --pastel-seagull: #7982CA;
  --pastel-jordyBlue: #73A4DD;
  --pastel-perano: #A7B9E9;
  --pastel-perfume: #D4D6E1;
  --pastel-lavenderPink: #F0B0D3;
  --pastel-amaranth: #E9638A;
  --pastel-chestnut: #C04B46;

  /* ========== Color Tokens ========== */
  --neutral-surface-weak: var(--grayscale-100);
  --neutral-surface-default: var(--grayscale-50);
  --neutral-surface-point: var(--grayscale-200);
  --neutral-text-weak: var(--grayscale-300);
  --neutral-text-default: var(--grayscale-400);
  --neutral-text-reverse-default: var(--grayscale-50);
  --neutral-border-default: var(--grayscale-400);

  --brand-surface-default: var(--grayscale-50);
  --brand-text-strong: var(--pastel-seagull);
  --brand-text-expressive: var(--pastel-chestnut);

  --danger-surface-default: var(--pastel-amaranth);
  --danger-text-default: var(--pastel-amaranth);
  --danger-text-reverse-default: var(--grayscale-50);
  --danger-border-default: var(--pastel-amaranth);

  /* Colorchip */
  --colorchip-10: var(--pastel-almondFrost);
  --colorchip-20: var(--pastel-porsche);
  --colorchip-30: var(--pastel-chenin);
  --colorchip-40: var(--pastel-caper);
  --colorchip-50: var(--pastel-cruise);
  --colorchip-60: var(--pastel-onahau);
  --colorchip-70: var(--pastel-glacier);
  --colorchip-80: var(--pastel-jordyBlue);
  --colorchip-90: var(--pastel-perano);
  --colorchip-100: var(--pastel-perfume);
  --colorchip-110: var(--pastel-lavenderPink);
  --colorchip-120: var(--pastel-chestnut);
}