@import './colors.css';

.monthly-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.check-box-container {
  display: flex;
  flex-direction: row;
}

.daily-info-container {
  display: flex;
  flex-direction: row;
}

.list-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 52.875rem;
  height: 3.5rem;
}

.class_name {
  width: 5.75rem;
  background-color: aqua; /*임시색상*/
}

.description {
  width: 25rem;
}

.payment {
  width: 6.5rem;
}

.money {
  width: 11.625rem;
}
