@import './colors.css';

.select-box {
  position: relative;
  width: 6.5rem;
  height: 1rem;
  margin-top: 0.25rem;
  font-size: 0.75rem;
}

.select-button {
  width: 100%;
  height: 100%;
  background-color: var(--grayscale-50);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-button-span {
  display: flex;
  align-items: start;
  width: 5.25rem;
}

.option-list {
  display: none;
  position: absolute;
  z-index: 10;
  list-style: none;
  margin-top: 1rem;
  width: 9.5rem;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  background-color: var(--neutral-surface-default);
  border: 0.0313rem solid var(--neutral-border-default);
  border-top: 0rem;
}

.option-list.active {
  display: flex;
}

.option-item {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grayscale-50);
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  cursor: pointer;
}

.option-item-span {
  width: 4.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.option-button {
  width: 100%;
  height: 3.5rem;
  padding: 1.5rem 1rem;
  text-align: start;
}
